# Virtual Environment
.venv/
venv/
env/

# Python
__pycache__/
*.py[cod]
*$py.class

# Environment variables
.env

# IDEs
.vscode/
.idea/

# OS files
.DS_Store
Thumbs.db

# Logs
*.log

# Database
*.db
*.sqlite3

# Test & Coverage
.pytest_cache/
.coverage
htmlcov/

# Type checker cache
.mypy_cache/
.pyre/

# Ruff
.ruff_cache/

# Build files
build/
dist/
*.egg-info/

# Jupyter
.ipynb_checkpoints/

# Temporary files
*.tmp
*.bak